<!doctype html>
<html >
<head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <!-- Include the AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="js/app1.js"></script>
    <script>
        $(document).ready(function (){
            if(typeof(Storage) !== "undefined") {

                var counts = localStorage.getItem('count');
                if (counts) {
                    localStorage.setItem('count', Number(counts) + 1);
                } else {
                    localStorage.setItem('count', 1);
                }
                document.getElementById("counter").innerHTML = "Visit Count : " + localStorage.getItem('count') ;
            } else {
                document.getElementById("counter").innerHTML = "Sorry, your browser does not support web storage...";
            }

        });
    </script>

    <!-- Controllers -->

    <style type="text/css">
        html,body{height:100%;}
        section {
            min-height: 700px;
        }
        .container {
            min-height: 700px;;
        }
        #map {
            height:420px;
        }
        b {
            line-height: 20px;
        }
        h2 {
            margin-bottom:0;
            margin-top: 0;
        }
        #map-canvas {
            height:420px;
        }
        #footer {
            min-height: 30px;
        }
    </style>
</head>

<body  ng-app="gemStore">
<header>
    <div class="container-fluid">
        <div class="row zsx bg-primary">
            <div class="col-lg-2">
                <img src="logo.png" height="150px" width="150px">
            </div>
            <div class="col-lg-8 animated lightSpeedIn">
                <p class="vcenter">
                <h1><i class="fa fa-bomb fa-lg"></i>BART</h1>
                <h3>Bay Area Rapid Transit Guide</h3>
                </p>
            </div>
            <div class="col-lg-2" >
                <h5 id = "counter">

                </h5>
            </div>
        </div>
    </div>
</header>
<section class="tab" ng-controller = "TabController as tabc">

    <div  ng-controller="customersCtrl as store" class="container" style="background-color: rgb(227, 242,253)">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid bg-primary">
                <ul class="nav navbar-nav row">

                    <li ng-class="{ active: tabc.isSet(1) }">
                        <a style="color: white" ng-click = "tabc.setTab(1)" href>Trips</a>
                    </li>

                    <li ng-class="{ active: tabc.isSet(2) }">
                        <a style="color: white" ng-click = "tabc.setTab(2)" href>Station</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div ng-controller = "detailsCtrl as detail">
            <div ng-show = "tabc.isSet(1)">
                <div class="row">
                    <h4 class="col-sm-9"> Choose the source and destination station from the drop downs below </h4>
                    <h4 class=" col-sm-3">Remaining time :</h4>
                </div>

                <div  ng-controller = "tripsCtrl as trip" class="col-lg-6">
                    <select ng-model="selected1" ng-options="x as x.name for x in resultGet.stations.station" ng-init="selected1=''" ng-change="trip.initMap(selected1, selected2); detail.getDetails(selected1, selected2)"></select>

                    <select ng-model="selected2" ng-options="x as x.name for x in resultGet.stations.station" ng-init="selected2=''" ng-change="trip.initMap(selected1, selected2);detail.getDetails(selected1, selected2)" ></select>
                    <div class="table-responsive" ng-if="resultTrip.schedule.request.trip">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Departure Time</th>
                                    <th>Departure Date</th>
                                    <th>Arrival Time</th>
                                    <th>Arrival Date</th>
                                    <th>Fare</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="st in resultTrip.schedule.request.trip" >
                                <tr>
                                    <td>{{st["@attributes"].origTimeMin}}</td>
                                    <td>{{st["@attributes"].origTimeDate}}</td>
                                    <td>{{st["@attributes"].destTimeMin}}</td>
                                    <td>{{st["@attributes"].destTimeDate | date}}</td>
                                    <td>{{st.fares.fare[0]["@attributes"].amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                    <div ng-controller = "tripsCtrl" class="col-lg-6">
                        <div id="map-canvas"> </div>
                    </div>

            </div>
        </div>



        <div ng-show = "tabc.isSet(2)">
            <h4 class="col-lg-12">Select the Stations from drop down below to get the Inforamtion </h4>

            <div class="col-lg-12">
                <select ng-model="selected" ng-options="x as x.name for x in resultGet.stations.station" ng-init="selected=''" ng-change="store.getStation(selected.abbr)">

                </select>
            </div>

            <div class="col-lg-6">
                <h3> Station Info</h3>
                <station-info>

                </station-info>

                <h5> Answer of Part 5 </h5>
                Same origin policy applies whenever we access 3rd party API with a browser using HTTP request.
                We are making API call to the end points that are hosted on the same server and accessing Bart API from the PHP scripts hosted on my AWS server that’s why I am able to access the data from the API without any error.

            </div>
            <div>


            </div>

            <div ng-controller="MapCtrl as mctrl" class="col-lg-6">
                <div id="map"> </div>

                <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                    <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
                </div>

                <div ng-hide = true>
                    {{mctrl.lat1 = selected.gtfs_latitude}}
                    {{mctrl.long1 = selected.gtfs_longitude}}
                    {{mctrl.createMarker()}}
                </div>

            </div>
        </div>
    </div>
</section>
<div id="footer" class="bg-primary">
    <p class="align-middle text-center">Made by Mahendra Mhatre</p>

</div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCYvVsJNzHxoApX6dy8BxmKimobNGUjtA"></script>


</body>
</html>
